@{
    var version = System.Reflection.Assembly.GetEntryAssembly()?.GetName().Version?.ToString() ?? "unknown";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Edi's Translator</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script type="module">
        import { setTheme } from 'https://unpkg.com/@@fluentui/web-components@3.0.0-rc.19/dist/web-components-all.min.js';
        import { webLightTheme } from 'https://unpkg.com/@@fluentui/tokens@1.0.0-alpha.23/lib/index.js';

        setTheme(webLightTheme);
    </script>
</head>
<body>
    <header class="mb-4">
        <nav>
            <h1>Edi's Translator</h1>
            <small>@version</small>
        </nav>
        <div id="progress-container" style="display: none;">
            <fluent-progress-bar></fluent-progress-bar>
        </div>
    </header>

    <main class="container-fluid">
        @RenderBody()
    </main>

    <footer>
        <p>&copy; @DateTime.Now.Year - Edi's Translator</p>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
