<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
    <httpErrors errorMode="Custom" existingResponse="PassThrough" />
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="x-content-type-options" value="nosniff" />
        <add name="x-frame-options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <!-- <rule name="API Proxy" stopProcessing="true">
          <match url="api/(.*)" />
          <action type="Rewrite" url="https://edi-translator-api.azurewebsites.net/api/{R:1}" />
        </rule> -->

        <rule name="Block hacker scans" stopProcessing="true">
          <match url="^.*(.aspx?|.php|.jsp|.shtml|.asmx|.ashx|.rar|.zip|.7z|.gz|.tar|.mdb|.db|.do|.action)$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="CustomResponse" statusCode="404" />
        </rule>
        <rule name="Block SQL injection" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="[dD][\%]*[eE][\%]*[cC][\%]*[lL][\%]*[aA][\%]*[rR][\%]*[eE][\s\S]*[@][a-zA-Z0-9_]+[\s\S]*[nN]*[\%]*[vV][\%]*[aA][\%]*[rR][\%]*[cC][\%]*[hH][\%]*[aA][\%]*[rR][\s\S]*[eE][\%]*[xX][\%]*[eE][\%]*[cC][\s\S]*" />
          </conditions>
          <action type="CustomResponse" statusCode="404" />
        </rule>

        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="./index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

</configuration>
