<header class="mb-4">
  <nav>
    <h1>Edi's Translator</h1>
    <small>Preview</small>
  </nav>
  <fluent-progress indeterminate *ngIf="isBusy"></fluent-progress>
</header>

<main class="container">
  <div class="error-message mb-4" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <form class="form-source" [formGroup]="sourceForm" (ngSubmit)="onTranslate()">
        <section class="translator-text-container">
          <!--Toolbar-->
          <div class="d-flex lang-selector-bar">
            <fluent-select title="Source language" formControlName="sourceLanguage" ngDefaultControl>
              <fluent-option *ngFor="let c of languageList" [value]="c.Code">{{ c.Name }}</fluent-option>
            </fluent-select>

            <fluent-button type="button" appearance="light" (click)="swapLanguageSelector()">Swap</fluent-button>

            <fluent-select title="Target language" formControlName="targetLanguage" ngDefaultControl>
              <fluent-option *ngFor="let c of languageList" [value]="c.Code">{{ c.Name }}</fluent-option>
            </fluent-select>
          </div>
          <!--Textare-->
          <div>
            <fluent-text-area class="source-text" formControlName="sourceText" name="sourceText" ngDefaultControl placeholder="Enter text"
              maxlength="{{ maxTextLength }}" rows="10" spellcheck="false"></fluent-text-area>
          </div>
          <div class="char-count">
            {{ sourceForm.get('sourceText')?.value?.length ?? 0 }} / {{ maxTextLength }} character(s)
          </div>
        </section>
        <div class="mt-2">
          <fluent-button type="submit" appearance="accent" class="me-2"
            [disabled]="!sourceForm.valid">Translate</fluent-button>
          <fluent-button type="button" appearance="light" (click)="clear()">Clear</fluent-button>
        </div>
      </form>
    </div>
    <div class="col-md-12 col-lg-6">
      <section class="translator-text-container">
        <!-- <div>
          <fluent-select title="Font size" ngDefaultControl>
            <fluent-option value="14px">14px</fluent-option>
          </fluent-select>
        </div> -->
        <div class="translated-text-container">
          {{ translatedText }}
        </div>
        <div class="char-count">
          {{ translatedText.length }} character(s)
        </div>
      </section>
      <div class="mt-2">
        <fluent-button type="button" appearance="accent" (click)="copyTranslatedText()"
          [disabled]="translatedText.length == 0">Copy</fluent-button>
      </div>
    </div>
  </div>
</main>