header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

header h1 {
    font-size: 24px;
}

section.translator-text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.translated-text-container {
    margin-top: 41px;
}

.char-count {
    font-size: 12px;
    color: #666;
}

fluent-text-area {
    width: 100%;
}

fluent-card>fluent-button {
    align-self: flex-end;
}