header {
    align-items: center;
    height: 60px;
}

header nav {
    display: flex;
    padding: 12px 20px;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

header nav small {
    align-self: center;
}

header h1 {
    align-self: center;
    font-size: 24px;
    margin: 0 !important;
}

section.translator-text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lang-selector-bar {
    gap: 5px;
    flex-wrap: wrap;
}

.source-text {
    font-size: 16px;
    line-height: 25px;
}

.translated-text-container {
    background-color: #F2F2F2;
    min-height: 264px;
    max-height: calc(100vh - 200px);
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    line-height: 25px;
}

.char-count {
    font-size: 12px;
    color: #666;
}

fluent-text-area {
    width: 100%;
}

.error-message {
    background-color: rgb(248, 215, 218);
    border-radius: 6px;
    border: 1px solid rgb(241, 174, 181);
    padding: 12px;
    color: rgb(88, 21, 28);
    font-size: 14px;
}

.translation-list {
    list-style-type: none;
    padding: 0;
}

.translation-item {
    padding: 10px;
    transition: background-color 0.3s;
    font-size: 14px;
}

.translation-item:hover {
    background-color: #f9f9f9;
}

.hs-date {
    font-size: 12px;
    color: #666;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
    font-size: 14px;
    margin-top: 70px;
}